Tesi/build/pdfa.xmpi
Tesi/build/tesi.aux
Tesi/build/tesi.bcf
Tesi/build/tesi.fdb_latexmk
Tesi/build/tesi.fls
Tesi/build/tesi.glo
Tesi/build/tesi.ist
Tesi/build/tesi.log
Tesi/build/tesi.lot
Tesi/build/tesi.toc
Tesi/build/tesi.lof
*.aux
*.bcf
*.fdb_latexmk
*.fls
*.glo
*.toc
Tesi/build/tesi.toc
*.xmpi
Tesi/pdfa.xmpi
Tesi/build/tesi.aux
Tesi/build/tesi.aux
Tesi/build/tesi.bcf
Tesi/build/tesi.fdb_latexmk
Tesi/build/tesi.fls
Tesi/build/tesi.glo
Tesi/build/tesi.ist
Tesi/build/tesi.lof
Tesi/build/tesi.log
Tesi/build/tesi.lot
Tesi/build/tesi.toc