<form name="IntelitixForm" method="post">
<div class="container container_body">
	<div class="row">
		<div class="col-md-10 center-block">
			<div class="card">
				<div class="card-header">
					<h3 class="panel-title">Pedir Licencia de Inversor Cualificado</h3>
				</div>
				<div class="card-body">

					<div class="form-group">
						<label class="control-label" for="txtLicenceNo">Licencia de Inversor Cualificado Nro.</label>
						<input class="form-control" name="txtLicenceNo" id="txtLicenceNo" type="text" [(ngModel)]="txtLicenceNo" placeholder="123342">
					</div>
					<hr>			
					<div class="form-group bg-light">
						<label class="control-label" for="txtFullName">Nombre y Apellido</label>
						<input class="form-control" name="txtFullName" id="txtFullName" type="text" [(ngModel)]="txtFullName" placeholder="Gustavo Rodríguez">
					</div>
					<hr>			
					<div class="form-group">
						<label class="control-label" for="txtId">DNI</label>
						<input class="form-control" name="txtId" id="txtId" type="text" [(ngModel)]="txtId" placeholder="23290734">
					</div>
					<hr>
					<div class="form-group bg-light">
						<label class="control-label" for="txtDOB">Fecha de Nacimiento</label>
						<input class="form-control" name="txtDOB" id="txtDOB" type="text" [(ngModel)]="txtDOB" placeholder="DD/MM/YYYY">
					</div>
					<hr>			
					<div class="form-group">
						<label class="control-label" for="txtAddress">Domicilio</label>
						<textarea class="form-control" rows="4" name="txtAddress" id="txtAddress" [(ngModel)]="txtAddress" placeholder="Buenos Aires 432, San Miguel de Tucumán"></textarea>
					</div>
					<hr>			
					<div class="form-group  bg-light">
						<label class="control-label" for="greater500kFile">
						Suba un documento .pdf para probar que posee una cartera de Inversor superior a 500.000 €.
						</label>
						<br/>
						<input type="file" name="greater500kFile" id="greater500kFile" (change)="handleFileGreater500k($event.target.files)">
					</div>					
					<hr>			
					<div class="form-group">	
						<label class="control-label" for="atLeast1YearFile">
						Suba un documento pdf que demuestre que ud. ha trabajado al menos un año en inversión de valores.
						</label>
						<br/>
						<input type="file" name="atLeast1YearFile" id="atLeast1YearFile" (change)="handleFileAtLeast1Year($event.target.files)">
					</div>		
					<hr>			
					<div class="form-group  bg-light">
						<label class="control-label" for="txt10TransFile">
						Suba un archivo .csv con las 10 transacciones importantes por trimestre en los últimos cuatro trimestres.
						</label>
						<br/>
						<input type="file" name="txt10TransFile" id="txt10TransFile" (change)="handleFile10TransFile($event.target.files)">
					</div>					
				</div>
				<div class="card-footer">
					<div class="row">
						<div class="col-md-3">
							<button type="button" class="btn btnsm btn-primary" (click)="addLicencia()">Pedir Licencia</button>
							
						</div>	

						<div class="col-md-9">
							<span style="color: red;">(*)La CNMV valorará los documentos aportados y emitirá el certificado.
							</span> 
						</div>
					</div>
				</div>					

			</div>
		</div>
	</div>
	<br>
</div>

</form>
