
<br/>

<div class="container">
	<div class="row" *ngIf="appSelectorService.menuSelector==1">   
		<div class="col-md-8">          
			<div class="card" style="border-color: #38010b;">
				<div class="card-header">
					<h2 style="color: #38010b;"><b><i><u>NUEVO</u> => </i></b>Cree su Licencia Digital de Inversor Cualificado</h2>
				</div>
				<div class="card-header">
					<h4 class="panel-title">Pasos a Seguir:</h4>
				</div>
				<div class="card-body"> 

					<table class="table table-bordered" id="certlistparent">
						<tr>
							<td width="100%">
								<a routerLink = "/crear-usuario">
									<font color='blue'>1) Crear un Wallet CNMV</font>
								</a>
							</td>
						</tr>
						<tr>
							<td>
								<a routerLink="/agregar-licencia-trader">
									<font color='blue'>2) Pedir Licencia de Inversor Cualificado</font>
								</a>
							</td>
						</tr>
						<tr>
							<td><a routerLink="/ver-petitorios"><font color='blue'>3) Ver & y Autorizar Solicitudes de Accesos a Datos</font></a></td>
						</tr>
					</table>
				
				</div>
			</div>
		</div>
		<div class="col-md-4">          
			<img src="assets/img/cnmv-left.png">
		</div>
	</div>
	<div class="row" *ngIf="appSelectorService.menuSelector==2">
		<div class="col-md-7">
			<div class="card" style="border-color: #071700;">
				<div class="card-header">
					<h3 class="panel-title">Gestión de Licencias Digitales de Inversores Cualificados</h3>
				</div>
				<div class="card-body">

					<table class="table table-bordered" id="certlistparent">
						<tr>
							<td><a routerLink="/crear-petitorio-licencia"><font color='blue'>A) Crear Solicitud de acceso a datos del  Inversor Cualificado</font></a></td>
						</tr>
						<tr>
							<td><a routerLink="/ver-petitorios-org"><font color='blue'>B) Ver el estado de las Solicitudes</font></a></td>
						</tr>
					</table>
				
				</div>
			</div>
		</div>
		<div class="col-md-5">          
			<div class="card" style="border-color: #071700;">
				<img src="assets/img/arbol1.png">
			</div>	
		</div>		
	</div>
</div>
